@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: 2px solid gray;

  @include mobile {
    height: unset;
  }
  @include tablet {
    height: unset;
  }

  .textContainer {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 22px;
      color: white;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid rebeccapurple;

      @include mobile {
        width: 300px;
      }
      @include tablet {
        width: 300px;
      }
    }
  }

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        flex-direction: column;
        padding: 0 10px;
      }

      @include tablet {
        flex-direction: column;
        padding: 0 10px;
      }

      h1 {
        font-size: 52px;
        font-weight: 100;
        font-style: italic;
        text-align: center;

        @include mobile {
          font-size: 36px;
        }
        @include tablet {
          font-size: 44px;
        }
      }

      a {
        border-radius: 50px;
        background-color: orange;
        color: black;
        border: none;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
      }

      a:hover {
        background-color: transparent;
        border: 1px solid orange;
        color: orange;
      }
    }
  }

  .listContainer {
    display: flex;
    gap: 50px;
    padding-bottom: 20px;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }
    @include tablet {
      flex-direction: column;
      width: 100%;
    }

    .box:nth-child(2) {
      border-left: 2px solid gray;

      @include mobile {
        border: none;
      }
      @include tablet {
        border: none;
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 40px;
      width: 48%;
      padding: 10px 20px;

      @include mobile {
        align-items: center;
        width: 100%;
        padding: 10px;
      }

      @include tablet {
        align-items: center;
        width: 100%;
        padding: 10px;
      }

      h2 {
        color: orange;
        font-size: 54px;
        font-style: italic;
        letter-spacing: 5px;
        border-bottom: 2px solid gray;

        @include mobile {
          font-size: 36px;
        }
      }

      ul {
        list-style: none;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: 20px;
        font-size: 42px;
        justify-content: space-between;

        @include mobile {
          gap: 7px;
          font-size: 24px;
          width: 100%;
        }

        li {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 5px 10px;
          color: gray;
          border-radius: 20px;
          border-left: 2px solid gray;
          border-right: 2px solid gray;

          @include mobile {
            border-radius: 10px;
          }
        }

        li:hover {
          color: orange;
          border-color: orange;
          transform: translateY(-15px);
          transition: all;
          transition-duration: 300ms;
          transition-timing-function: linear;
          cursor: pointer;

          @include mobile {
            color: gray;
            border-color: gray;
            transform: none;
            transition: none;
          }

          @include tablet {
            color: gray;
            border-color: gray;
            transform: none;
            transition: none;
          }
        }
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        p {
          display: flex;
          align-items: center;
          gap: 20px;
          color: gray;
          font-size: 32px;

          @include mobile {
            align-items: start;
            font-size: 24px;
          }
          @include tablet {
            font-size: 30px;
          }
        }

        p:hover {
          color: orange;
          cursor: pointer;

          @include mobile {
            color: gray;
          }

          @include tablet {
            color: gray;
          }
        }
      }
    }
  }
}

// To hide the side scroll-bar

// For Chrome, Safari and Opera
.services::-webkit-scrollbar {
  display: none;
}

// For IE, Edge and Firefox
.services {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; //Firefox
}
