@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: 2px solid gray;

  .textContainer {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 22px;
      color: white;
      text-align: right;
    }

    hr {
      width: 500px;
      height: 2px;
      background: rebeccapurple;
      border: none;

      @include mobile {
        width: 300px;
      }
      @include tablet {
        width: 300px;
      }
    }
  }

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      @include mobile {
        padding: 0 10px;
      }

      @include tablet {
        padding: 0 10px;
      }

      h1 {
        font-size: 3.25rem;
        font-weight: 100;
        font-style: italic;
        text-align: center;

        @include mobile {
          font-size: 2rem;
        }
        @include tablet {
          font-size: 2.5rem;
        }
      }

      a {
        border-radius: 10px;
        color: orange;
        border: 1px solid orange;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
      }
    }
  }

  .listContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 50px;
    padding: 50px 0;

    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      width: 100%;
      padding: 10px 20px;

      @include mobile {
        // align-items: center;
        // width: 100%;
        padding: 10px;
      }

      @include tablet {
        // align-items: center;
        // width: 100%;
        padding: 10px;
      }

      h2 {
        color: orange;
        font-size: 54px;
        font-style: italic;
        letter-spacing: 5px;
        border-bottom: 2px solid gray;

        @include mobile {
          font-size: 36px;
        }
      }

      ul {
        list-style: none;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: 30px;
        font-size: 42px;
        justify-content: space-between;

        @include mobile {
          gap: 10px;
          font-size: 24px;
          width: 100%;
        }

        li {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 5px 15px;
          color: gray;
          border-radius: 20px;
          border-left: 2px solid gray;
          border-right: 2px solid gray;

          @include mobile {
            border-radius: 10px;
          }
        }

        li:hover {
          color: orange;
          border-color: orange;
          transform: translateY(-15px);
          transition: all;
          transition-duration: 300ms;
          transition-timing-function: linear;
          cursor: pointer;

          @include mobile {
            color: gray;
            border-color: gray;
            transform: none;
            transition: none;
          }

          @include tablet {
            color: gray;
            border-color: gray;
            transform: none;
            transition: none;
          }
        }
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        p {
          display: flex;
          align-items: start;
          gap: 20px;
          color: gray;
          font-size: 2rem;

          @include mobile {
            font-size: 1rem;
          }
          @include tablet {
            font-size: 1.5rem;
          }
        }

        p:hover {
          color: orange;
          cursor: pointer;

          @include mobile {
            color: gray;
          }

          @include tablet {
            color: gray;
          }
        }
      }
    }
  }
}

// To hide the side scroll-bar

// For Chrome, Safari and Opera
.services::-webkit-scrollbar {
  display: none;
}

// For IE, Edge and Firefox
.services {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; //Firefox
}
