@import "../../app.scss";

.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }

    @include tablet {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }

    .progressBar {
      height: 10px;
      background-color: #fff;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        gap: 10px;
        padding: 20px 10px 0;
      }

      @include tablet {
        flex-direction: column;
        gap: 10px;
        padding: 50px 10px 0;
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include mobile {
          width: 100%;
          max-height: 250px;
        }

        @include tablet {
          width: 100%;
          max-height: 350px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50px;
          // object-fit: cover;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          transform: none !important;
          gap: 10px;
        }

        @include tablet {
          transform: none !important;
          align-items: center;
          text-align: center;
        }

        h2 {
          font-size: 70px;
          line-height: 60px;
          padding: 30px 0 0;

          @include mobile {
            font-size: 32px;
            line-height: normal;
          }

          @include tablet {
            font-size: 44px;
            line-height: normal;
          }
        }

        p {
          color: gray;
          font-size: 20px;

          @include mobile {
            font-size: 16px;
          }

          @include tablet {
            font-size: 24px;
          }
        }

        hr {
          width: 100%;
        }

        .stack {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-right: 5px;

          @include mobile {
            flex-direction: column;
            align-items: start;
          }

          h4 {
            font-size: 22px;
          }

          span {
            color: gray;
            font-size: 20px;
          }
        }

        a {
          background-color: orange;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
          text-align: center;
          font-size: 22px;
          font-weight: bold;
        }

        a:hover {
          border: 2px solid orange;
          background-color: transparent;
          color: orange;
        }
      }
    }
  }
}
