@import "../../app.scss";

.contact {
  height: 100%;
  // width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 50px;

  @include mobile {
    width: 100%;
    padding: 40px 0px;
    flex-direction: column;
  }

  @include tablet {
    width: 100%;
    padding: 50px 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      align-items: start;
    }

    @include tablet {
      align-items: start;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
        line-height: normal;
      }
      @include tablet {
        font-size: 60px;
        line-height: 60px;
      }
    }

    .item {
      display: flex;
      align-items: center;
      gap: 30px;

      .icon {
        font-size: 30px;
        color: orange;
      }

      span {
        font-size: 20px;
        letter-spacing: 5px;

        @include mobile {
          letter-spacing: 0;
        }
      }
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      width: 100%;
      padding: 20px;
    }
    @include tablet {
      width: 100%;
      padding: 50px;
    }

    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: -1;

      @include mobile {
        left: 0;
        // bottom: 70px;
        padding: 10px;
      }

      @include tablet {
        left: 200px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      padding: 0 40px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        outline: none;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        font-size: 30px;
        border-radius: 10px;

        @include mobile {
          padding: 10px;
          font-size: 16px;
        }
      }

      button:hover {
        color: orange;
        background-color: transparent;
        border: 2px solid orange;
      }
    }
  }
}
