@import "../../app.scss";

.contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 50px;

  @include mobile {
    width: 100%;
    padding: 40px 0px;
    gap: 30px;
  }

  @include tablet {
    width: 100%;
    padding: 50px 10px;
    gap: 30px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      align-items: start;
    }

    @include tablet {
      align-items: start;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
        line-height: normal;
      }
      @include tablet {
        font-size: 60px;
        line-height: 60px;
      }
    }

    .item {
      display: flex;
      align-items: center;
      gap: 30px;

      .icon {
        font-size: 30px;
        color: orange;
      }

      span {
        font-size: 20px;
        letter-spacing: 5px;

        @include mobile {
          letter-spacing: 0;
        }
      }
    }
  }

  .formContainer {
    position: relative;
    width: 100%;

    @include mobile {
      padding: 5px 0;
    }
    @include tablet {
      padding: 20px 100px;
    }

    .phoneSvg {
      stroke: orange;
      position: absolute;
      left: 200px;
      margin: auto;
      z-index: -1;

      @include mobile {
        left: 10px;
        padding: 10px;
      }
    }

    .contacts {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 5px 100px;
      gap: 40px;

      @include mobile {
        padding: 0;
      }
      @include tablet {
        padding: 0;
      }
    }

    // form {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 20px;
    //   width: 100%;
    //   padding: 0 40px;

    //   input,
    //   textarea {
    //     padding: 20px;
    //     background-color: transparent;
    //     border: 1px solid white;
    //     outline: none;
    //     color: white;
    //     border-radius: 5px;

    //     @include mobile {
    //       padding: 10px;
    //     }
    //   }

    //   button {
    //     padding: 20px;
    //     border: none;
    //     background-color: orange;
    //     cursor: pointer;
    //     font-weight: 500;
    //     font-size: 30px;
    //     border-radius: 10px;

    //     @include mobile {
    //       padding: 10px;
    //       font-size: 16px;
    //     }
    //   }

    //   button:hover {
    //     color: orange;
    //     background-color: transparent;
    //     border: 2px solid orange;
    //   }
    // }
  }
}
