@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: end;
      gap: 10px;
      padding: 20px;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 20px;
      font-weight: bold;

      @include mobile {
        justify-content: end;
        width: 100%;
      }

      span {
        @include mobile {
          display: none;
        }
      }

      a {
        padding: 5px;
        border: 1px solid orange;
        border-radius: 10px;
        background-color: transparent;
        color: orange;
      }
    }

    .social {
      display: flex;
      gap: 20px;
    }
  }
}
