@import "../../app.scss";

.navbar {
  height: 100px;
  border-bottom: 1px solid lightgray;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 20px 0 70px;

    @include mobile {
      padding: 0;
    }
    @include tablet {
      padding: 0 0 0 50px;
    }

    .logo {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      font-weight: bold;

      @include mobile {
        justify-content: end;
      }

      span {
        font-family: monospace;
        font-weight: lighter;
        font-style: italic;
        font-size: 3rem;
        color: orange;

        @include mobile {
          display: none;
        }
      }

      a {
        padding: 5px;
        border: 1px solid orange;
        border-radius: 10px;
        background-color: transparent;
        color: orange;
      }
    }
  }
}
